#html_map {
    display: table-cell;
    border-right: 1px solid #000;
    padding-right: 10px;
    background: #222;
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}

h1 {
    color: #fff;
    font-family: 'Droid Serif';
    border-bottom: 3px solid #E65634;
    border-top: 3px solid #E65634;
    font-size: 42px;
    font-weight: 400;
    line-height: 60px;
    margin: 0 auto 45px;
    max-width: 600px;
    padding: 45px 0;
    text-align: center;
}

p {
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 auto 36px;
    max-width: 400px;
}

a {
    color: #E65634;
}

a:hover {
    color: #fff;
}

.btn {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    display: inline-block;
}

.bag-folder {
    margin: 5px 0px 0px 0px;
    position: relative;
}

.bag-folder:before {
    content: "";
    width: 15px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    left: -10px;
    top: 8px;
}

.bag-folder .button-folder {
    margin-right: 5px;
    width: 20px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.bag-folder .button-board {
    cursor: pointer;
}

.bag-folder .box-folder {
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
}

.bag-folder .box-folder:before {
    content: "";
    height: 100%;
    border-left: 1px solid #ccc;
    position: absolute;
    left: 0px;
    top: -9px;
    z-index: 1;
}

.bag-folder:last-child:after {
    content: "";
    height: 100%;
    border-left: 1px solid #fff;
    position: absolute;
    left: -10px;
    top: 9px;
    z-index: 2;
}

#html_board {
    display: table-cell;
    padding-left: 10px;
}

#path_content {}

#path_content ul {}

#path_content ul li {
    list-style: none;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #EFEEEE;
    vertical-align: top;
    position: relative;
    /*border-bottom: 0px;*/
    text-align: center;
}

#path_content ul li div.box-image {
    display: table-cell;
    width: 80px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}

#path_content ul li div.box-image img {
    max-width: 60px;
    max-height: 60px;
}

#path_content ul li div.box-image span {
    width: 80px;
    display: block;
}

#path_content ul li div.box-folder {}

#path_content ul li div.box-folder .folder {
    /*white-space: nowrap;*/
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 14px;
}

#path_content ul li div.box-folder .folder:before {
    display: block;
    text-align: center;
    height: 65px;
    line-height: 65px;
    font-size: 60px;
}

#path_content ul li div.box-other {}

#path_content ul li div.box-other .other {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#path_content ul li div.box-other .other:before {
    display: block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
}

.box-control .file-info {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    color: #00f;
}

.box-control .copy-path-file {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    color: #3C2B39;
}

.box-control .delete-file {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    color: #C31904;
}

.box-control .rename-file {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    color: #C39D04;
}

.box-control .delete-folder {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    color: #C31904;
}

.box-control .rename-folder {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -10px;
    font-size: 20px;
    background-color: #fff;
    color: #C39D04;
}