@import url(https://fonts.googleapis.com/css?family=Raleway:100);
.container {
    margin-left: 0px;
}

body.dataTables,
body.jqueryui {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

body.dataTables div.container,
body.jqueryui div.container {
    max-width: 980px;
    margin: 0 auto;
}

body.dataTables h1,
body.jqueryui h1 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 3em;
    line-height: 1em;
}

h1 span {
    font-size: 0.5em;
    line-height: 1em;
}

.highlight {
    background-color: whitesmoke !important;
}

.highlight-lighter {
    background-color: #fafafa !important;
}

table.dataTable.display tbody>tr.odd>.selected,
table.dataTable.order-column.stripe tbody>tr.odd>.selected {
    background-color: #a6b4cd;
}

table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
    color: black;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

table.dataTable thead th.select-checkbox.sorting_asc:before,
table.dataTable thead th.sorting_desc:before,
table.dataTable thead th.select-checkbox.sorting_asc_disabled:before,
table.dataTable thead th.select-checkbox.sorting_desc_disabled:before {
    content: "\2191";
}

table.dataTable thead th.select-checkbox.sorting_asc:after,
table.dataTable thead th.sorting_desc:after,
table.dataTable thead th.select-checkbox.sorting_asc_disabled:after,
table.dataTable thead th.select-checkbox.sorting_desc_disabled:after {
    content: "\2193";
}

.status_red {
    color: firebrick !important;
    background-color: #ff7171 !important;
    /*border: 1px solid #D14 !important;*/
    /*    color: #D14;
    background-color: #fcf6f8;
    border: 1px solid #f7d6df;*/
}

.status_yellow {
    /*color: #c29f00;
    background-color: #fff9d7;
    border: 1px solid #ffe700;
    white-space: nowrap;*/
    color: #c29f00 !important;
    background-color: #fff9d7 !important;
    /* border: 1px solid #ffe700 !important;*/
}

.status_pink {
    color: #d119cf;
    background-color: #faebfa;
    border: 1px solid #f3aef2;
    white-space: nowrap;
}

.status_green {
    background-color: #d0e9c6 !important;
    /* border-color: forestgreen !important;*/
    color: #3c763d !important;
}

.status_blue {
    /*    color: #0c199c;
    background-color: #f4f5fc;
    border: 1px solid #c6cbe9; 
    white-space: nowrap;*/
    color: #0c199c !important;
    background-color: #c6cbe9 !important;
    /* border: 1px solid #0c199c !important;*/
}

td.red_background {
    color: black !important;
    background-color: #ff7171 !important;
    font-weight: bold;
    border: 2px solid #D14 !important;
}

@media only screen and (min-width: 1201px) {
    img.disabled_folder_icon {
        opacity: 0.25;
        filter: alpha(opacity=25);
        /* msie */
    }
    input[type=checkbox].rowCB {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        width: 30px;
        height: 30px;
    }
    input[type=checkbox].rowCB:after {
        white-space: nowrap;
        position: absolute;
        content: '\0020';
        display: block;
        pointer-events: none;
        font-size: 30px;
        height: 30px;
        width: 30px;
        transition: .25s all ease-in-out;
        border-radius: 3px;
        line-height: 30px;
        border-width: 2px;
        border-style: solid;
        border: 1px solid #ae3411;
        background-color: #ffb5b5;
        box-shadow: 0 0 5px #ae3411;
    }
    input[type=checkbox].rowCB:checked:after {
        transition: .25s all ease-in-out;
        content: '\2714';
        /*content:'\2713';*/
        color: #3399f3 !important;
        /*color: #1f5e11;*/
        /*background-color: #c5ffad;*/
        background-color: #c6cbe9 !important;
        border-color: #84b6d9;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
    }
    input[type=checkbox].rowCB:hover:after {
        border-color: rgba(43, 173, 209, 0.8);
    }
    .circle_red {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #ff410c;
        border: 1px solid #ae3411;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        box-shadow: 0 0 2px rgba(81, 203, 238, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_yellow {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #fffc20;
        border: 1px solid #ffe055;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        box-shadow: 0 0 2px rgba(255, 255, 0, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_green {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #93ff65;
        border: 1px solid #5bba34;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        box-shadow: 0 0 2px rgba(127, 255, 77, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_disabled {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #d3d3d3;
        border: 1px solid #7e7e7e8c;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        box-shadow: 0 0 2px #545454;
        margin: auto;
        /*color: #464e50;
        background-color: #f2f7f9;
        border: 1px solid #b8c3c5;*/
        /* margin-top: -16px;*/
    }
}

@media only screen and (max-width: 1200px) {
    #status_div>p {
        margin-left: -20 !important;
        margin-top: -7;
    }
    img.disabled_folder_icon {
        opacity: 0.25;
        filter: alpha(opacity=25);
        /* msie */
        width: 20px;
        height: 20px;
    }
    input[type=checkbox].rowCB {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        width: 15px;
        height: 15px;
    }
    input[type=checkbox].rowCB:after {
        white-space: nowrap;
        position: absolute;
        content: '\0020';
        display: block;
        pointer-events: none;
        font-size: 15px;
        height: 15px;
        width: 15px;
        transition: .25s all ease-in-out;
        border-radius: 2px;
        line-height: 15px;
        border-width: 1px;
        border-style: solid;
        border: 1px solid #ae3411;
        background-color: #ffb5b5;
        box-shadow: 0 0 2px #ae3411;
    }
    input[type=checkbox].rowCB:checked:after {
        transition: .25s all ease-in-out;
        content: '\2714';
        /*content:'\2713';*/
        color: #3399f3 !important;
        /*color: #1f5e11;*/
        /*background-color: #c5ffad;*/
        background-color: #c6cbe9 !important;
        border-color: #84b6d9;
        box-shadow: 0 0 2px rgba(81, 203, 238, 1);
        text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
    }
    input[type=checkbox].rowCB:hover:after {
        border-color: rgba(43, 173, 209, 0.8);
    }
    .circle_red {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #ff410c;
        border: 1px solid #ae3411;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(81, 203, 238, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_yellow {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #fffc20;
        border: 1px solid #ffe055;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(255, 255, 0, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_green {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #93ff65;
        border: 1px solid #5bba34;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(127, 255, 77, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_disabled {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #d3d3d3;
        border: 1px solid #7e7e7e8c;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px #545454;
        margin: auto;
        /*color: #464e50;
        background-color: #f2f7f9;
        border: 1px solid #b8c3c5;*/
        /* margin-top: -16px;*/
    }
}

tr.row_disabled {
    font-style: italic !important;
    background-color: #d1d1d1c2 !important;
    color: #aaaaaa !important;
}


/*"font-style", "italic");
$(row).css("background-color", "#d1d1d1c2");
$(row).css("color", "#aaaaaa");*/


/*
code {
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
    padding: 1px 4px;
    font-size: 0.8em;
    color: #444;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

code:after {
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,0.2);
    margin-left: 4px;
    padding-left: 4px;
    opacity: 0.5
}

a code {
    text-decoration: underline
}

// red button colors 
code.option {
    color: #D14;
    background-color: #fcf6f8;
    border: 1px solid #f7d6df;
    white-space: nowrap
}

code.option:after {
    content: 'Option'
}

// green button colors 
code.path {
    color: #095c05;
    background-color: #eef7ed;
    border: 1px solid #8ccb89;
    white-space: nowrap
}

code.path:after {
    content: 'Path'
}

// yellow button colors 
code.tag {
    color: #c29f00;
    background-color: #fff9d7;
    border: 1px solid #ffe700;
    white-space: nowrap
}

code.tag:after {
    content: 'Tag'
}

// blue button colors
code.api {
    color: #0c199c;
    background-color: #f4f5fc;
    border: 1px solid #c6cbe9;
    white-space: nowrap
}

code.api:after {
    content: 'API'
}

// pink button colors 
code.type {
    color: #d119cf;
    background-color: #faebfa;
    border: 1px solid #f3aef2;
    white-space: nowrap
}

code.type:after {
    content: 'Type'
}

// green button colors 
code.event {
    color: #2a839e;
    background-color: #f5fafb;
    border: 1px solid #a8ddec;
    white-space: nowrap
}

code.event:after {
    content: 'Event'
}

// brown button colors 
code.string {
    color: #c05f1d;
    background-color: #f5eee9;
    border: 1px solid #dfc4b2;
    white-space: nowrap
}

code.string:after {
    content: 'String'
}

// purple button colors 
code.field {
    color: #ad1ee8;
    background-color: #f9f1fc;
    border: 1px solid #ebc9f7;
    white-space: nowrap
}

code.field:after {
    content: 'Field'
}

// gray button colors 
code.button {
    color: #464e50;
    background-color: #f2f7f9;
    border: 1px solid #b8c3c5;
    white-space: nowrap
}

code.button:after {
    content: 'Button'
}

code.multiline {
    display: inline-block;
    width: 95%
}
*/