@import url(https://fonts.googleapis.com/css?family=Raleway:100);

/** DI: MAKE CHANGES HERE **/
table.dataTable td {
	white-space: nowrap !important;
}
table.dataTable td:nth-child(8),
table.dataTable td:nth-child(7) {
    /*This is the FINAL DESTINATION COLUMN*/
    /*font-size: 12px !important;*/
    white-space: nowrap !important;
}

table.dataTable td:nth-child(3) {
    /*font-size: 12px !important;*/
    white-space: nowrap !important;
}


/* [table header]*/

table.dataTable thead th {
    font-size: 15px !important;
    font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    /* font-weight options: lighter, normal, bold, bolder*/
    color: white !important;
    background: #333334 !important;
}


/*cells*/

table.dataTable td {
    font-size: 14px !important;
    color: #666666 !important;
    font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    /* font-weight options: lighter, normal, bold, bolder*/
}


/*last is the table width in percent of the viewable page*/

#shipments {
    width: 95% !important;
    margin: 0 !important;
}


/*STOP HERE*/


/****************************************************************************
*****************************************************************************
*****************************************************************************/

body.dataTables,
body.jqueryui {
    font: 75%/1.25em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}


/*
body.dataTables div.container,
body.jqueryui div.container {
    max-width: 980px;
    /*margin: 0 auto;
}
*/

body.dataTables h1,
body.jqueryui h1 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 3em;
    line-height: 1em;
}

h1 span {
    font-size: 0.5em;
    line-height: 1em;
}


/*
tr:nth-child(odd){
	background: #fff2dd;
}*/

table.dataTable thead .sorting {
    background-image: none !important;
}

table.dataTable thead .sorting_asc {
    background-image: none !important;
}

table.dataTable thead .sorting_desc {
    background-image: none !important;
}

table.dataTable th {
    background: #333334;
    color: white;
    padding: 0px !important;
    margin: 0px !important;
}

table.dataTable td {
    /*border: 1px solid #ccc;*/
    text-align: center;
    border: 1px solid white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 5px !important;
    margin: 0px !important;
    vertical-align: middle !important;
}


/*
tr:nth-child(even) {*/


/*    background-color: #f2f2f2*/


/*background-color: #fffaf2;
}
*/

.status_red {
    color: red !important;
    background-color: #ffd2d2 !important;
    /*border: 1px solid #D14 !important;*/
    /*    color: #D14;
    background-color: #fcf6f8;
    border: 1px solid #f7d6df;*/
}

.status_yellow {
    /*color: #c29f00;
    background-color: #fff9d7;
    border: 1px solid #ffe700;
    white-space: nowrap;*/
    color: #c29f00 !important;
    background-color: #fff9d7 !important;
    /* border: 1px solid #ffe700 !important;*/
}

.status_pink {
    color: #d119cf;
    background-color: #faebfa;
    border: 1px solid #f3aef2;
    white-space: nowrap;
}

.status_green {
    background-color: #d0e9c6 !important;
    /* border-color: forestgreen !important;*/
    color: #3c763d !important;
}

.status_blue {
    /*    color: #0c199c;ackground: #d5fcc2;
    background-color: #f4f5fc;
    border: 1px solid #c6cbe9; 
    white-space: nowrap;*/
    color: #0c199c !important;
    background-color: #d5fcc2 !important;
    /* border: 1px solid #0c199c !important;*/
}

td.red_background {
    color: black !important;
    background-color: #ff7171 !important;
    font-weight: bold;
    border: 2px solid #D14 !important;
}

@media only screen and (min-width: 2101px) {
    img.disabled_folder_icon {
        opacity: 0.25;
        filter: alpha(opacity=25);
        /* msie */
    }
    input[type=checkbox].rowCB {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        width: 30px;
        height: 30px;
    }
    input[type=checkbox].rowCB:after {
        white-space: nowrap;
        position: absolute;
        content: '\0020';
        display: block;
        pointer-events: none;
        font-size: 30px;
        height: 30px;
        width: 30px;
        transition: .25s all ease-in-out;
        border-radius: 3px;
        line-height: 30px;
        border-width: 2px;
        border-style: solid;
        border: 1px solid #ae3411;
        background-color: #ffb5b5;
        box-shadow: 0 0 5px #ae3411;
    }
    input[type=checkbox].rowCB:checked:after {
        transition: .25s all ease-in-out;
        content: '\2714';
        /*content:'\2713';*/
        color: #3399f3 !important;
        /*color: #1f5e11;*/
        /*background-color: #c5ffad;*/
        background-color: #c6cbe9 !important;
        border-color: #84b6d9;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
    }
    input[type=checkbox].rowCB:hover:after {
        border-color: rgba(43, 173, 209, 0.8);
    }
    .circle_red {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #ff410c;
        border: 1px solid #ae3411;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        box-shadow: 0 0 2px rgba(81, 203, 238, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_yellow {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #fffc20;
        border: 1px solid #ffe055;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        box-shadow: 0 0 2px rgba(255, 255, 0, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_green {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #93ff65;
        border: 1px solid #5bba34;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        box-shadow: 0 0 2px rgba(127, 255, 77, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_disabled {
        transition: .25s all ease-in-out;
        width: 30px;
        height: 30px;
        background: #d3d3d3;
        border: 1px solid #7e7e7e8c;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        box-shadow: 0 0 2px #545454;
        margin: auto;
        /*color: #464e50;
        background-color: #f2f7f9;
        border: 1px solid #b8c3c5;*/
        /* margin-top: -16px;*/
    }
}

@media only screen and (max-width: 2100px) {
    #status_div>p {
        margin-left: -14px !important;
        margin-top: -7;
    }
    img.disabled_folder_icon {
        opacity: 0.25;
        filter: alpha(opacity=25);
        /* msie */
        width: 20px;
        height: 20px;
    }
    input[type=checkbox].rowCB {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        width: 15px;
        height: 15px;
    }
    input[type=checkbox].rowCB:after {
        white-space: nowrap;
        position: absolute;
        content: '\0020';
        display: block;
        pointer-events: none;
        font-size: 15px;
        height: 15px;
        width: 15px;
        transition: .25s all ease-in-out;
        border-radius: 2px;
        line-height: 15px;
        border-width: 1px;
        border-style: solid;
        border: 1px solid #ae3411;
        background-color: #ffb5b5;
        box-shadow: 0 0 2px #ae3411;
    }
    input[type=checkbox].rowCB:checked:after {
        transition: .25s all ease-in-out;
        content: '\2714';
        /*content:'\2713';*/
        color: #3399f3 !important;
        /*color: #1f5e11;*/
        /*background-color: #c5ffad;*/
        background-color: #c6cbe9 !important;
        border-color: #84b6d9;
        box-shadow: 0 0 2px rgba(81, 203, 238, 1);
        text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
    }
    input[type=checkbox].rowCB:hover:after {
        border-color: rgba(43, 173, 209, 0.8);
    }
    .circle_red {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #ff410c;
        border: 1px solid #ae3411;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(81, 203, 238, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_yellow {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #fffc20;
        border: 1px solid #ffe055;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(255, 255, 0, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_green {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #93ff65;
        border: 1px solid #5bba34;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px rgba(127, 255, 77, 1);
        margin: auto;
        /* margin-top: -16px;*/
    }
    .circle_disabled {
        transition: .25s all ease-in-out;
        width: 15px;
        height: 15px;
        background: #d3d3d3;
        border: 1px solid #7e7e7e8c;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 0 1px #545454;
        margin: auto;
        /*color: #464e50;
        background-color: #f2f7f9;
        border: 1px solid #b8c3c5;*/
        /* margin-top: -16px;*/
    }
}

tr.row_disabled {
    font-style: italic !important;
    background-color: #d1d1d1c2 !important;
    color: #aaaaaa !important;
}